

/*
@font-face {
        font-family: "Lobster-Regular", sans-serif;
    src: url("fonts/Lobster-Regular.woff") format('woff');
  }
*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

body{
    background-color: #F234C9;
    height: 100vh;
    font-family: 'Signika', cursive;

}

h1{

    text-align: center;
    margin: 7vh 0 7vh 0;
    background-color: pink;
    letter-spacing: 2px;
    line-height: 35px;
}
    

p{   
   width: 72vw;
    margin-top: 17vh;
    margin-left: 4vw;
    text-align: center;
    color: #F5F93B;
    font-size: 3.4vh;
}

    
.cutebutton{
width: 60vh;
height 7vh;
background-color: pink;
margin: 0 auto;
border-radius: 2em;
box-shadow: 2em 2em 1em 2em green;
}

.ex1{
    position: relative;
    top: 3vh;
    left: 2vw;
    background: #F5F93B;
    padding: 0.5em;
    width: 3vw;
    height: 2vh;
    font-size: 3vh;
}

.ex2{
    position: relative;
    top: 3vh;
    left: 2vw;
    background: #F5F93B;
    padding: 0.5em;
    width: 3vw;
    height: 2vh;
    font-size: 3vh;
}
.ex3{
    position: relative;
    top: 3vh;
    left: 2vw;
    background: #F5F93B;
    padding: 0.5em;
    width: 3vw;
    height: 2vh;
    font-size: 3vh;
    
}
.ex4{
    position: relative;
    top: 3vh;
    left: 2vw;
    background: #F5F93B;
    padding: 0.5em;
    width: 3vw;
    height: 2vh;
    font-size: 3vh;


    
}
footer{
    height: 20vh;
    width: 104vw;
    background-color: #BD00FF;
    margin-top: 20vh;
    margin-left: -2vw;
    box-shadow: 8vh;
    }

/*&&&&&&&&&&&&&*/
/*css grid*/
/*&&&&&&&&&&&&&*/
/*****************/

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1.5fr; 
    grid-template-areas:
    "logo logo menu"
    "timeline year picture"
    "timeline year picture"
    "timeline year picture"
    "timeline year picture"
    "timeline year picture"
    "timeline year picture"
    "timeline year picture"
    "footer footer footer"
    }

.containerOp{
    opacity: 0
}

#logo img{
    background: #F234C9;
    grid-area: logo;
    margin-top: 5vh;
    height: 10vh;
    width: 60vw;
    }


#menu{
    background: #F234C9;
    grid-area: menu;
    /*text-align: right;*/
    margin: 1vh 0vh 0vh 5vh;
     }
    
    
#timeline{      
    background: #F234C9;
    grid-area: timeline;
    display: flex;
    flex-direction: column;
    /*margin-top: 6vh;*/
    height: 62vh
    
    }
    
#year{
    background: #F234C9;
    grid-area: year;
    display: flex;
    flex-direction: column;
    margin-left: -3vw;
    
    }

#year img{
    margin: -3vh 0 8.3vh -30vw;
    width: 32vw;
}


  
#picture{
    background: #F234C9;
    grid-area: picture;
    display: flex;
    flex-direction: column;
    }

#picture img{
    width: 32vw;
    margin: -6vh 1vw 6.2vh 0;
}

.infoBox1{
    position: absolute;
    margin-left: 5vw;
    margin-top: 26vh;
    width: 80%;
    height: 48%;
    background: #BD00FF;
    border: 0.35em solid #F5F93B;
    font-family: 'Signika', cursive;
    font-size:2em
    
    
}
    
.infoBox2{
    position: absolute;
    margin-top: 28vh;
    margin-left: 5vw;
    width: 80%;
    height: 52%;
    background: #BD00FF;
    border: 0.35em solid #F5F93B;
    font-size:2em
}
.infoBox3{
    position: absolute;
    margin-top: 30vh;
    margin-left: 5vw;
    width: 80%;
    height: 52%;
    background: #BD00FF;
    border: 0.35em solid #F5F93B;
    font-size:2em
}

.infoBox4{
    position: absolute;
    margin-top: 32vh;
    margin-left: 5vw;
    width: 80%;
    height: 63%;
    background: #BD00FF;
    border: 0.35em solid #F5F93B;
    font-size:2em
}

.barbie_icon1 {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

.barbie_icon1 img{
    width: 52vw;
    margin-top: -1vh;
    margin-right: 5vw;
}
.barbie_icon2 img{
    width: 50vw;
    margin-top: -2vh;
    margin-right: 6vw;
}

.barbie_icon3 img {
    width: 50vw;
    margin-top: 0vh;
    margin-left: 20vw;
    margin-bottom: -20vh;
}

.barbie_icon4 img {
    width: 50vw;
    margin-top: 0vh;
    margin-left: 19vw;
    margin-bottom: -20vh;
}

.barbie_icon2 {
    position: absolute;
    top: 27px;
    right: 16px;
    font-size: 18px;
}

.year_icon2{
    margin-top:4vh;
    margin-left:20vw
    }

#footer{
    background: #BD00FF;
    grid-area: footer;
    width:100%;
    height: 1vh
}
    
.footerlogo{
   width: 38vw;
    height: 6vh;
    margin-left: 29vw;
    margin-top: 2vh;
}

.footerwords{
   font-size: 2.8vh;
    margin-left: -8vw;
    margin-top: 1vh;
    width: 51.8vh 
}
    
          

/*
.new(
   display: inline-block)
*/




    
    
}

.leftfooter{
flex: 1;
background-color: yellow
}

.rightfooter{
flex: 2;
background-color: skyblue;
display: flex;
flex-direction: column
}

.rightlinks{
flex: 1;  
}

.top {background-color: palevioletred}
.right {background-color: yellow}
.left {background-color: aqua}


.logo img{"images/logo.png"
    height:70vh
   
    
}



.circle{
    height: 2em;
    width: 5em;
    border-radius: 2em;
    margin-left: 20vw;
    background-color: #8100A7;}


.circle{
    height: 2em;
    width: 5em;
    border-radius: 2em;
    margin-left: 2vw;
    background-color: #8100A7;
    
}

.line{
    background-color: #F5F93B;
    width: 2vw;
    height: 15vh;
    margin-left: 6vw;
    
    
}

/*&&&&&&&&&&&&&*/
/*media queries*/
/*&&&&&&&&&&&&&*/
/*****************/




@media screen and (min-width: 576px){


   
p {
    width: 67vw;
    
}
    
.logo img{"images/logo.png"
    height:70vh
    }
    
.text1 {
    font-family: 'Signika', cursive;
    color: #F5F93B;
    margin: 18vh 0px 2vh 41px;
    font-size: 3.9vh}
    
.text2{
    margin-top: 18vh
    }  
    
.text3{
    font-size: 1.2em;
    margin-top: 15vh;
    margin-left: 1vw;
    width:77vw
    }
    
.text4{
    font-size: 1em;
    margin-top: 14vh;
    margin-left: 1vh;
    width: 77vw;
}
    
    
.circle{
    height: 2em;
    width: 5em;
    border-radius: 2em;
    margin-left: 6vw;
    background-color: #8100A7;
}

.line{
    background-color: #F5F93B;
    width: 1vw;
    height: 13.8vh;
    margin-left: 9vw;
}



.barbie_icon1 {
    position: absolute;   
    top: 65px;
    right: 65px;
    font-size: 17px;
}
    
.barbie_icon2 {
    position: absolute;   
    top: 56px;
    right: 71px;
    font-size: 18px; 
}
    
#timeline{      
    margin-top: 0vh;
    height:80vh
}
    
#picture img{
    width: 32vw;
    margin: -5.5vh 0vw 4.2vh -3vw;
}
#year img{
    margin: -3vh 0 8vh -30vw;
    width: 32vw;
}
    
.infoBox1{
    position: absolute;
    margin-left: 4vh;
    margin-top: 18vh;
    width: 80%;
    height: 53%;
    background: #BD00FF;
    border: 0.35em solid #F5F93B;
    font-family: 'Signika', cursive;
    font-size:2em
    
    
}
    
.infoBox2{
    position: absolute;
    margin-top: 22vh;
    margin-left: 8vw;
    width: 78%;
    height: 54%;
    background: #BD00FF;
    border: 0.35em solid #F5F93B;
    font-size: 2em;
}
.infoBox3{
    position: absolute;
    margin-top: 26vh;
    margin-left: 4vw;
    width: 80%;
    height: 50%;
    background: #BD00FF;
    border: 0.35em solid #F5F93B;
    font-size:2em
}

.infoBox4{
    position: absolute;
    margin-top: 30vh;
    margin-left: 4vw;
    width: 80%;
    height: 50%;
    background: #BD00FF;
    border: 0.35em solid #F5F93B;
    font-size:2em
}


.barbie_icon1 img{
    width: 40vw;
    margin-top: -5vh;
    margin-right: 5vw;
}
.barbie_icon2 img{
    width: 39vw;
    margin-top: -4vh;
    margin-right: 6vw;
}

.barbie_icon3 img {
    width: 39vw;
    margin-top: -7vh;
    margin-left: 25vw;
    margin-bottom: -16vh}

.barbie_icon4 img {
    width: 39vw;
    margin-top: -3vh;
    margin-left: 24vw;
    margin-bottom: -17vh;}

.year_icon2{
    margin-top:5vh;
    margin-left:20vw
    }

#footer{
    background: #BD00FF;
    grid-area: footer;
    width:100%;
    height: 1vh
}
    
.footerlogo{
    width: 38vw;
    height: 7vh;
    margin-left: 32vw;
    margin-top: 2vh;
}

.footerwords{
    font-size: 3.8vh;
    margin-left: -1vw;
    margin-top: 1vh;
    width: 57.8vh;
}

}



        
        

@media screen and (min-width: 768px){
    
#menu img{
    width: 17vw;
    margin: 1vh 0vw 0vh 19vw  
    }
#logo img{
    background: #F234C9;
    grid-area: logo;
    margin-top: 5vh;
    height: 14vh;
    width: 56vw;
    }
    
.logo img{"images/logo.png"
    height:70vh
    }
    
.text1{
    font-family: 'Signika', cursive;
    text-align: center;
    color: #F5F93B;
    margin: 7vh 0px 2vh 49px;
    font-size: 8vh
    
    }

.text3{
    font-size:1.3em;
    margin-top:18vh
    }
    
.text4{
    font-size: 1.2em;
    margin-top: 17vh;
    margin-left: 0vh;
    width: 79vw;
    }
    
.circle{
    height: 2em;
    width: 5em;
    border-radius: 2em;
    margin-left: 11vw;
    background-color: #8100A7;
    }

.line{
    background-color: #F5F93B;
    width: 1vw;
    height: 15.5vh;
    margin-left: 13vw;
    }


.text1{
    font-family: 'Signika', cursive;
    color: #F5F93B;
    margin: 22vh 0px 2vh 49px;
    font-size: 4vh;
    }
    
.text2{
    margin-top: 21vh    
    }
    
.barbie_icon1 {
    position: absolute;   
    top: 65px;
    right: 65px;
    font-size: 17px;
    }
    
.barbie_icon2 {
    position: absolute;   
    top: 56px;
    right: 71px;
    font-size: 18px; 
    }
    

    
#timeline{      
    margin-top:7vh;
    height: 85vh;
    } 
    
#year img{
    margin: 3vh 0 -0.5vh -30vw;
    width: 32vw;
    }

#picture img{
    width: 28vw;
    margin: 0vh 14vw -3vh 0vw;
    }
    
.infoBox1{
    position: absolute;
    margin-left: 4vh;
    margin-top: 22vh;
    width: 80%;
    height: 50%;
    background: #BD00FF;
    border: 0.35em solid #F5F93B;
    font-family: 'Signika', cursive;
    font-size:2em
    
    
    }
    
.infoBox2{
    position: absolute;
    margin-top: 28vh;
    margin-left: 8vw;
    width: 80%;
    height: 50%;
    background: #BD00FF;
    border: 0.35em solid #F5F93B;
    font-size:2em
    }
.infoBox3{
    position: absolute;
    margin-top: 35vh;
    margin-left: 8vw;
    width: 80%;
    height: 50%;
    background: #BD00FF;
    border: 0.35em solid #F5F93B;
    font-size:2em
    }

.infoBox4{
    position: absolute;
    margin-top: 45vh;
    margin-left: 8vw;
    width: 80%;
    height: 50%;
    background: #BD00FF;
    border: 0.35em solid #F5F93B;
    font-size:2em
    }


.barbie_icon1 img{
    width: 35vw;
    margin-top: -5vh;
    margin-right: 11vw;
    }
.barbie_icon2 img{
    width: 35vw;
    margin-top: -3vh;
    margin-right: 10vw;
    }

.barbie_icon3 img {
       width: 35vw;
    margin-top: -2vh;
    margin-left: 25vw;
    margin-bottom: -23vh;}

.barbie_icon4 img {
    width: 35vw;
    margin-top: -2vh;
    margin-left: 25vw;
    margin-bottom: -22vh;}

.year_icon2{
    margin-top:4vh;
    margin-left:20vw
    }

#footer{
    background: #BD00FF;
    grid-area: footer;
    width:100%;
    height: 1vh
    }
    
.footerlogo{
    width: 23vw;
    height: 6vh;
    margin-left: 37vw;
    margin-top: 2vh
    }

.footerwords{
    font-size: 3.9vh;
    margin-left: 10vw;
    margin-top: 1vh;
    width: 60.8vh;
}
    
}
    
    
    
    
    
    
@media screen and (min-width: 992px){
    
        
#logo img{     
    height: 13vw;
    width: 40vw
}
    
.circle{
    margin-left: 20vw
    }
    
#year img {
    margin: 2vh 1px -0.5vh -4vw;
    width: 27vw;
}

#picture img {
    width: 24vw;
    margin: -2vh 14vw -3vh 0vw;
}
      
.line{
    height: 15.6vh;
    margin-left: 22vw;
    }
    
.footerlogo{
    height: 8vh
    }
    
.footerwords {
    font-size: 4.9vh;
    margin-left: 13vw;
    width: 70.8vh; 
} 
    
.barbie_icon1 img {
    width: 29vw;
    margin-top: -5vh;
    margin-right: 18vw;    
}
    
.barbie_icon2 img {
    width: 29vw;
    margin-top: -3vh;
    margin-right: 16vw}
    
.barbie_icon3 img {
    width: 29vw;
    margin-left: 28vw;}
    
.barbie_icon4 img {
    width: 29vw;
    margin-left: 27vw;}
    
.text1{
    width: 69vw;
    margin-top: 24vh
    }   
    
.text2 {
    margin-top: 22vh;
    margin-left: 1vw;
    font-size: 1.4em;
    width: 77vw;}
    
.text3 {
    margin-top: 20vh;}
    
.infobox2{
    height:52%
}
    
}
    
    

@media screen and (min-width: 1200px){

#timeline {
    height: 100vh;
    width: 30vw
    }
    
    
#menu img {
    width: 11vw;
    margin: 1vh -36vw 0vh 25vw;
}
    
#year img {
    margin: 0vh 1px -0.5vh 8vw;
    width: 18vw;
}

footer {
    margin-top: 100vh;
    width:100vw;
    height:25vh}
    
.footerlogo {
    height: 11vh;
    width: 34vh;
    margin-left: 40vw}
    
.footerwords {
    font-size: 5.9vh;
    width: 88.8vh;
    margin-left: 28vw;}
    
.line {
    height: 20.6vh
    }
    
#picture img {
    width: 15vw;
    margin: -3vh 14vw -4vh 3vw;
}
    
#logo img {
    height: 9vw;
    width: 28vw;
}
    
.text1 {
    width: 36vw;
    margin-top: 3vh;
    font-size: 1.2em;
    margin-left: 8vw;
}
    
.text2 {
    margin-top: 3vh;
    margin-left: 5vw;
    width: 42vw;
    font-size: 1.2em;
}
    
.text3 {
    margin-top: -30vh;
    margin-left: 6vw;
    width: 39vw;
    font-size: 1.3em;}

.text4 {
    font-size: 1.2em;
    margin-top: -29vh;
    margin-left: 3vh;
    width: 49vw;
}
    
.barbie_icon1 img {
    width: 27vw;
    margin-top: -10vh;
    margin-right: -3vw;
}
    
.barbie_icon2 img {
    width: 27vw;
    margin-top: -7vh;
    margin-right: -4vw;}
    
.barbie_icon3 img {
    width: 27vw;
    margin-left: 51vw;
    margin-top: -3vh;}
    
.barbie_icon4 img {
    width: 27vw;
    margin-left: 52vw;
    margin-top: -3vh;}
    
.infoBox1 {
    position: absolute;
    margin-left: 10vh;
    margin-top: 29vh;}
    
.infoBox2 {
    height: 52%;

    
}
    
}
    
    
    
@media screen and (min-width: 1400px){

#menu img {
    width: 13vw;}

#year img {
    margin: 1vh 0vw -3.5vh 6vw;
    width: 25vw;
}
#logo img {
    height: 9vw;
    width: 29vw;}

#picture img {
    width: 18vw;
    margin: -2vh 14vw -3vh 0vw;}

.line {
    height: 17.5vh;
    margin-left: 21vw;
}
    
.footerwords {
    margin-left: 16vw}
    
.barbie_icon1 img {
    margin-top: -4vh;
    margin-right: -6vw;}

.barbie_icon2 img {
    margin-top: -1vh;
    margin-right: -6vw;}
    
.barbie_icon3 img {
    margin-top: -1vh;}
    
.barbie_icon4 img {
    margin-top: -1vh;}
    
    
.text1 {
    width: 38vw;
    margin-top: 7vh;}
    
.text3 {
    margin-top: -23vh;}

.text4 {
    margin-top: -20vh;
    width: 43vw;}


}
    
