

/*
@font-face {
        font-family: "Lobster-Regular", sans-serif;
    src: url("fonts/Lobster-Regular.woff") format('woff');
  }
*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    background-color: #F234C9;
    height: 100vh;
    font-family: 'Lobster', cursive;

}

h1{

    text-align: center;
    margin: 7vh 0 7vh 0;
    background-color: pink;
    letter-spacing: 2px;
    line-height: 35px;
}
    

p{   
    width: 67vw;
    margin-top: 22vh;
    margin-left: 6vw;
    text-align: center;
    color: #F5F93B;
    font-size: 3.4vh;
}

    
.cutebutton{
width: 60vh;
height 7vh;
background-color: pink;
margin: 0 auto;
border-radius: 2em;
box-shadow: 2em 2em 1em 2em green;
}

.ex1{
    position: relative;
    top: 3vh;
    left: 2vw;
    background: #F5F93B;
    padding: 0.5em;
    width: 3vw;
    height: 2vh;
    font-size: 3vh;
}

.ex2{
    position: relative;
    top: 3vh;
    left: 2vw;
    background: #F5F93B;
    padding: 0.5em;
    width: 3vw;
    height: 2vh;
    font-size: 3vh;
}
.ex3{
    position: relative;
    top: 3vh;
    left: 2vw;
    background: #F5F93B;
    padding: 0.5em;
    width: 3vw;
    height: 2vh;
    font-size: 3vh;
    
}
.ex4{
    position: relative;
    top: 3vh;
    left: 2vw;
    background: #F5F93B;
    padding: 0.5em;
    width: 3vw;
    height: 2vh;
    font-size: 3vh;


    
}
footer{
    height: 20vh;
    width: 100vw;
    background-color: #BD00FF;
    margin-top: 20vh;
    box-shadow: 8vh;
    }

/*&&&&&&&&&&&&&*/
/*css grid*/
/*&&&&&&&&&&&&&*/
/*****************/

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1.5fr; 
    grid-template-areas:
    "logo logo menu"
    "timeline year picture"
    "timeline year picture"
    "timeline year picture"
    "timeline year picture"
    "timeline year picture"
    "timeline year picture"
    "timeline year picture"
    "footer footer footer"
    }

#logo img{
    background: #F234C9;
    grid-area: logo;
    margin-top: 5vh;
    height: 13vh;
    width: 49vw;
    }


#menu{
    background: #F234C9;
    grid-area: menu;
    text-align: right;
    margin: 6vh 4vh 0vh 0vh;
     }
    
    
#timeline{      
    background: #F234C9;
    grid-area: timeline;
    display: flex;
    flex-direction: column;
    margin-top: 6vh;
    
    
    }
    
#year{
    background: #F234C9;
    grid-area: year;
    display: flex;
    flex-direction: column;
    margin-left: -3vw;
    
    }

#year img{
    margin: 2vh 0 3.2vh -70px;
    width: 26vw;
}


  
#picture{
    background: #F234C9;
    grid-area: picture;
    display: flex;
    flex-direction: column;
    }

#picture img{
    width: 32vw;
    margin: -1vh 47px 0vh -9px;
}

.infoBox1{
    position: absolute;
    margin-left: 4vh;
    margin-top: 18vh;
    width: 80%;
    height: 50%;
    background: #BD00FF;
    border: 0.35em solid #F5F93B;
    font-family: 'Lobster', cursive;
    font-size:2em
    
    
}
    
.infoBox2{
    position: absolute;
    margin-top: 35vh;
    margin-left: 12vw;
    width: 80%;
    height: 50%;
    background: #BD00FF;
    border: 0.35em solid #F5F93B;
    font-size:2em
}
.infoBox3{
    position: absolute;
    margin-top: 35vh;
    margin-left: 12vw;
    width: 80%;
    height: 50%;
    background: #BD00FF;
    border: 0.35em solid #F5F93B;
    font-size:2em
}

.infoBox4{
    position: absolute;
    margin-top: 35vh;
    margin-left: 12vw;
    width: 80%;
    height: 50%;
    background: #BD00FF;
    border: 0.35em solid #F5F93B;
    font-size:2em
}

.barbie_icon1 {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

.barbie_icon1 img{
    width: 35vw;
    margin-top: -5vh;
    margin-right: 11vw;
}
.barbie_icon2 img{
    width: 35vw;
    margin-top: -3vh;
    margin-right: 10vw;
}

.barbie_icon3 img {
       width: 35vw;
    margin-top: -2vh;
    margin-left: 25vw;
    margin-bottom: -23vh;}

.barbie_icon4 img {
    width: 35vw;
    margin-top: -2vh;
    margin-left: 25vw;
    margin-bottom: -22vh;}

.barbie_icon2 {
    position: absolute;
    top: 27px;
    right: 16px;
    font-size: 18px;
}

.year_icon2{
    margin-top:4vh;
    margin-left:20vw
    }

#footer{
    background: #BD00FF;
    grid-area: footer;
    width:100%;
    height: 1vh
}
    
.footerlogo{
    width: 19vw;
    height: 6vh;
    margin-left: 38vw;
    margin-top: 2vh;
}

.footerwords{
    font-size: 3.8vh;
    margin-left: 14vw;
    margin-top: 1vh;
    width:51.8vh
    
          

/*
.new(
   display: inline-block)
*/




    
    
}

.leftfooter{
flex: 1;
background-color: yellow
}

.rightfooter{
flex: 2;
background-color: skyblue;
display: flex;
flex-direction: column
}

.rightlinks{
flex: 1;  
}

.top {background-color: palevioletred}
.right {background-color: yellow}
.left {background-color: aqua}


.logo img{"images/logo.png"
    height:70vh
   
    
}



.circle{
    height: 2em;
    width: 5em;
    border-radius: 2em;
    margin-left: 20vw;
    background-color: #8100A7;}


.circle{
    height: 2em;
    width: 5em;
    border-radius: 2em;
    margin-left: 20vw;
    background-color: #8100A7;
    
}

.line{
    background-color: #F5F93B;
    width: 1vw;
    height: 9.5vh;
    margin-left: 23vw;
    
    
}

/*&&&&&&&&&&&&&*/
/*media queries*/
/*&&&&&&&&&&&&&*/
/*****************/




@media screen and (min-width: 576px){


   
p {
    width: 67vw;
    
}
    
.logo img{"images/logo.png"
    height:70vh
    }
    
.text1 {
    font-family: 'Lobster', cursive;
    color: #F5F93B;
    margin: 18vh 0px 2vh 41px;
    font-size: 3.9vh}
    
.text2{
    margin-top: 18vh
    }  
    
.text3{
    font-size: 1.2em;
    margin-top: 15vh;
    margin-left: 1vw;
    width:77vw
    }
    
.text4{
    font-size: 1em;
    margin-top: 14vh;
    margin-left: 1vh;
    width: 77vw;
}
    }
    
.circle{
    height: 2em;
    width: 5em;
    border-radius: 2em;
    margin-left: 20vw;
    background-color: #8100A7;
}

.line{
    background-color: #F5F93B;
    width: 1vw;
    height: 11.5vh;
    margin-left: 24vw;
}



.barbie_icon1 {
    position: absolute;   
    top: 65px;
    right: 65px;
    font-size: 17px;
}
    
.barbie_icon2 {
    position: absolute;   
    top: 56px;
    right: 71px;
    font-size: 18px; 
 }
    

    
#timeline{      
    margin-top: 5vh;
}
    
#picture img{
    width: 32vw;
    margin: -3vh 47px 0vh -9px;
}
    
.infoBox1{
    position: absolute;
    margin-left: 3vh;
    margin-top: 18vh;
    width: 80%;
    height: 50%;
    background: #BD00FF;
    border: 0.35em solid #F5F93B;
    font-family: 'Lobster', cursive;
    font-size:2em
    
    
}
    
.infoBox2{
    position: absolute;
    margin-top: 35vh;
    margin-left: 12vw;
    width: 80%;
    height: 50%;
    background: #BD00FF;
    border: 0.35em solid #F5F93B;
    font-size:2em
}
.infoBox3{
    position: absolute;
    margin-top: 46vh;
    margin-left: 2vw;
    width: 80%;
    height: 50%;
    background: #BD00FF;
    border: 0.35em solid #F5F93B;
    font-size:2em
}

.infoBox4{
    position: absolute;
    margin-top: 65vh;
    margin-left: 10vw;
    width: 80%;
    height: 50%;
    background: #BD00FF;
    border: 0.35em solid #F5F93B;
    font-size:2em
}


.barbie_icon1 img{
    width: 39vw;
    margin-top: -5vh;
    margin-right: 6vw;
}
.barbie_icon2 img{
    width: 39vw;
    margin-top: -4vh;
    margin-right: 6vw;
}

.barbie_icon3 img {
    width: 39vw;
    margin-top: -7vh;
    margin-left: 25vw;
    margin-bottom: -16vh}

.barbie_icon4 img {
    width: 39vw;
    margin-top: -3vh;
    margin-left: 24vw;
    margin-bottom: -17vh;}

.year_icon2{
    margin-top:5vh;
    margin-left:20vw
    }

#footer{
    background: #BD00FF;
    grid-area: footer;
    width:100%;
    height: 1vh
}
    
.footerlogo{
    width: 26vw;
    height: 6vh;
    margin-left: 35vw;
    margin-top: 2vh;
}

.footerwords{
    font-size: 3.4vh;
    margin-left: 5vw;
    margin-top: 1vh;
    width:51.8vh
}

}



        
        

@media screen and (min-width: 768px){
    

    
.logo img{"images/logo.png"
    height:70vh
    }
    
.text1{
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #F5F93B;
    margin: 7vh 0px 2vh 49px;
    font-size: 8vh
    
    }

.text3{
    font-size:1.3em;
    margin-top:18vh
    }
    
.text4{
    font-size: 1.2em;
    margin-top: 17vh;
    margin-left: 0vh;
    width: 79vw;
    }
    
.circle{
    height: 2em;
    width: 5em;
    border-radius: 2em;
    margin-left: 20vw;
    background-color: #8100A7;
    }

.line{
    background-color: #F5F93B;
    width: 1vw;
    height: 15.5vh;
    margin-left: 22vw;
    }


.text1{
    font-family: 'Lobster', cursive;
    color: #F5F93B;
    margin: 21vh 0px 2vh 49px;
    font-size: 4vh;
    }
    
.barbie_icon1 {
    position: absolute;   
    top: 65px;
    right: 65px;
    font-size: 17px;
    }
    
.barbie_icon2 {
    position: absolute;   
    top: 56px;
    right: 71px;
    font-size: 18px; 
    }
    

    
#timeline{      
    height: 75vh;
    } 


#picture img{
    width: 28vw;
    margin: -3vh 47px 0vh -9px;
    }
    
.infoBox1{
    position: absolute;
    margin-left: 4vh;
    margin-top: 18vh;
    width: 80%;
    height: 50%;
    background: #BD00FF;
    border: 0.35em solid #F5F93B;
    font-family: 'Lobster', cursive;
    font-size:2em
    
    
    }
    
.infoBox2{
    position: absolute;
    margin-top: 35vh;
    margin-left: 12vw;
    width: 80%;
    height: 50%;
    background: #BD00FF;
    border: 0.35em solid #F5F93B;
    font-size:2em
    }
.infoBox3{
    position: absolute;
    margin-top: 35vh;
    margin-left: 12vw;
    width: 80%;
    height: 50%;
    background: #BD00FF;
    border: 0.35em solid #F5F93B;
    font-size:2em
    }

.infoBox4{
    position: absolute;
    margin-top: 35vh;
    margin-left: 12vw;
    width: 80%;
    height: 50%;
    background: #BD00FF;
    border: 0.35em solid #F5F93B;
    font-size:2em
    }


.barbie_icon1 img{
    width: 35vw;
    margin-top: -5vh;
    margin-right: 11vw;
    }
.barbie_icon2 img{
    width: 35vw;
    margin-top: -3vh;
    margin-right: 10vw;
    }

.barbie_icon3 img {
       width: 35vw;
    margin-top: -2vh;
    margin-left: 25vw;
    margin-bottom: -23vh;}

.barbie_icon4 img {
    width: 35vw;
    margin-top: -2vh;
    margin-left: 25vw;
    margin-bottom: -22vh;}

.year_icon2{
    margin-top:4vh;
    margin-left:20vw
    }

#footer{
    background: #BD00FF;
    grid-area: footer;
    width:100%;
    height: 1vh
    }
    
.footerlogo{
    width: 19vw;
    height: 6vh;
    margin-left: 38vw;
    margin-top: 2vh
    }

.footerwords{
    font-size: 3.9vh;
    margin-left: 15vw;
    margin-top: 1vh;
    width: 51.8vh;
}
    
}
    
    
    
    
    
    
@media screen and (min-width: 992px){
    
    
}
    
    
    

@media screen and (min-width: 1200px){
    
    
}
    
    
    
    
@media screen and (min-width: 1400px){
    
    
}